body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

#product-overview {
    background: #ff1b68;
    /* width: 50%; */
    width: 300px;
    /* height: 100%; width의 100%와 달리 부모 엘레먼트의 사이즈의 100$를 차지한다.*/
    height: 528px;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */