* {
    /* 모든 요소에 적용할 수 있다. */
    box-sizing: border-box; 
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    /* box-sizing: border-box; 여기서 설정하더라도 product-overview에 해당 설정이 상속되지 않는다. */
}

#product-overview {
    background: #ff1b68;
    /* width: 50%; */
    width: 300px;
    /* height: 100%; width의 100%와 달리 부모 엘레먼트의 사이즈의 100$를 차지한다.*/
    height: 528px;
    /* height 높이에 padding과 border은 포함되지 않는다. */
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    /* content-box : width와 heightd에 padding과 border이 포함되지 않는다. */
    /* border-box : width와 heightd에 padding과 border이 포함한다. */
    /* 단, width와 height에 margin 값은 포함되지 않는다. */
    /* box-sizing: border-box;  */

}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */ 