body {
    height: 100%;
}
.box {
    padding: 10px 8px 5px 2px;
    margin: 1px 3px 7px 9px;
    border: 1px solid black;
}

.box:first-child {
    width: 50%;
    height: 300px;
    display: none;
}

.box:last-child:hover {
    background-color: gold;   
}