body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active {
    color: #521751;
}

/* highlighted 클래스가 main-section 클래스보다 먼저 정의 되면 main-section 클래스에 정의되어 있던 설정으로 덮어 쓰기 된다.  
즉 CSS 코드를 정의한 순서대로 설정이 적용되므로 가장 마지막에 정의된 설정이 덮어쓰기 된다.*/

.main-section {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}

.highlighted {
    /* main-section 클래스에서 정의한 설정을 덮어쓰기 한다. */
    border: 2px solid orange;
}