body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active {
    color: #521751;
}

/* 굳이 not을 붙이지 않아도 적용되기 때문에 사용하지 않아도되는 부분에 사용한 케이스이다.
어떤 상황에서 사용하면 좋을지 제대로 생각할 필요가 있다. */
a:not(.active) {
    color:blue 
}

/* highlighted 클래스가 main-section 클래스보다 먼저 정의 되면 main-section 클래스에 정의되어 있던 설정으로 덮어 쓰기 된다.  
즉 CSS 코드를 정의한 순서대로 설정이 적용되므로 가장 마지막에 정의된 설정이 덮어쓰기 된다.*/

.main-section {
    height: 800px;
    /*  highlighted 클래스에서 덮어쓰기를 했는데 !important를 사용하므로서 highlighted 클래스에 적용된 설정이 무시하기된다.
    이런식으로 사용하게 되면 CSS코드를 이해하기 어려워지기 때문에 함부로 사용하면 안된다. */
    border: 1px solid #ccc !important;
    padding: 16px;
}

.highlighted {
    /* main-section 클래스에서 정의한 설정을 덮어쓰기 한다. */
    border: 2px solid orange;
    height: 200px;
}