body {
    font-family: "Montserrat", serif;
}

#product-overview {
    background: #ff1b68;
}

#product-overview h1 {
    color: white;
    /* font-family: sans-serif; 브라우저의 기본 설정을 따른다. */
    font-family: "Anton", serif;
}

.section-title {
    color: #2ddf5c;
    font-family: inherit;  /* 상속된 스타일을 사용하도록 명시 */
}

h1 {
    font-family: sans-serif;
}

/* 
Cascading : 여러 규칙이 같은 요소에 적용됨.

Specificity : 명시도
1. 인라인 스타일
2. id 선택자
3. class 선택자, 의사 클래스(:hover), 속성 선택자 => 세 가지가 충돌 나는 경우 코드 순서로 덮어쓰기.
4. 태그 선택자
5. 브라우저 설정 
6. * 선택자
*/